:root {
	--vh-unit: 1vh;
	--vw-unit: 1vw;
	--max-play-width: calc(var(--vw-unit) * 90);
	--max-play-height: calc(var(--vh-unit) * 75);
	--play-width: min(var(--max-play-width),var(--max-play-height) * 0.75);
	--horz-unit: calc(var(--play-width) / 100);
	--header-text-size: calc(var(--play-width) / 12);

	--hidden-text-size: 0.001px;

	--color-transparent: transparent;
	--color-gray-1: 227, 227, 227;			/* #e3e3e3 */
	--color-gray-2: 204, 204, 204;			/* #ccc */
	--color-gray-3: 153, 153, 153;			/* #999 */
	--color-gray-4: 56, 64, 71;				/* #384047 */
	--color-gray-5: 27, 31, 34;				/* #1b1f22 */
	--color-white: 255, 255, 255;			/* #fff */
	--color-green-1: 96, 166, 90;			/* #60a65a */
	--color-green-2: 83, 141, 78;			/* #538d4e */
	--color-orange-1: 207, 190, 109;		/* #cfbe6d */
	--color-orange-2: 181, 159, 59;			/* #b59f3b */
	--color-orange-3: 179, 93, 12;			/* #b35d0c */
	--color-orange-4: 161, 70, 0;			/* #a14600 */
	--color-yellow: 255, 241, 43;			/* #fff12b */

	--color-edit-letter: rgba(var(--color-orange-2));
	--color-edit-letter-text: rgba(var(--color-gray-4));
	--color-played-words-selection-text: rgba(var(--color-orange-2));
	--color-played-words-selection: rgba(var(--color-gray-1));

	color-scheme: light dark;
}
:root, :root.force-light-mode {
	--color-button-highlight: rgba(var(--color-yellow));
	--color-header-text: rgba(var(--color-gray-4));
	--color-low-score: rgba(var(--color-gray-4));
	--color-ok-score: rgba(var(--color-orange-3));
	--color-good-score: rgba(var(--color-green-2));
	--color-played-letter: rgba(var(--color-green-2));
	--color-played-letter-text: rgba(var(--color-white));
	--color-header-separator: rgba(var(--color-gray-2));
	--color-message-banner: rgba(var(--color-gray-4));
	--color-message-banner-text: rgba(var(--color-white));
	--color-keyboard-banner: rgba(var(--color-gray-4), 0.8);
	--color-keyboard-banner-text: rgba(var(--color-white));
	--color-menu: rgba(var(--color-gray-1));
	--color-menu-text: rgba(var(--color-gray-4));
	--color-menu-btn: rgba(var(--color-white));
	--color-menu-btn-text: rgba(var(--color-gray-4));
	--color-menu-link: rgba(var(--color-green-2));
	--color-menu-radio: rgba(var(--color-gray-4));
	--color-menu-color-mode-selector: rgba(var(--color-gray-3));
	--color-menu-color-mode-selector-thumb: rgba(var(--color-gray-4));
	--color-help-popup: rgba(var(--color-gray-1));
	--color-help-popup-text: rgba(var(--color-gray-4));
	--color-help-tab: rgba(var(--color-white));
	--color-help-tab-text: rgba(var(--color-gray-4));
	--color-help-tab-active: rgba(var(--color-gray-4));
	--color-help-tab-active-text: rgba(var(--color-white));
	--color-help-link-text: rgba(var(--color-orange-2));
	--color-help-emphasize: rgba(var(--color-orange-4));
	--color-help-selection: rgba(var(--color-gray-4));
	--color-help-selection-text: rgba(var(--color-gray-1));
	--color-next-word-separator: rgba(var(--color-gray-1));
	--color-next-play-letter: rgba(var(--color-gray-4));
	--color-keyboard-key: rgba(var(--color-gray-1));
	--color-keyboard-key-text: rgba(var(--color-gray-4));

	--active-btn-opacity: 0.8;

	--image-menu-btn: url(../images/icon-menu.svg);
	--image-help-btn: url(../images/icon-help.svg);
	--image-close-btn: url(../images/icon-close.svg);
	--image-menu-new-game-btn: url(../images/icon-play-new-game.svg);
	--image-menu-help-btn: url(../images/icon-help.svg);
	--image-score-trend-up-low: url(../images/icon-score-trend-up-low.svg);
	--image-score-trend-up-ok: url(../images/icon-score-trend-up-ok.svg);
	--image-score-trend-up-good: url(../images/icon-score-trend-up-good.svg);
	--image-score-trend-down-low: url(../images/icon-score-trend-down-low.svg);
	--image-score-trend-down-ok: url(../images/icon-score-trend-down-ok.svg);
	--image-score-trend-down-good: url(../images/icon-score-trend-down-good.svg);
	--image-score-trend-perfect: url(../images/icon-score-trend-perfect.svg);
	--image-next-play-marker: url(../images/icon-next-play-marker.svg);
	--image-undo-btn: url(../images/icon-undo.svg);
	--image-undo-all-btn: url(../images/icon-undo-all.svg);
	--image-remove-letter-btn: url(../images/icon-remove-letter.svg);
	--image-insert-here-btn: url(../images/icon-insert-here.svg);
	--image-add-letter-btn: url(../images/icon-add-letter.svg);
	--image-play-word-btn: url(../images/icon-accept-changes.svg);
	--image-reset-word-btn: url(../images/icon-abandon-changes.svg);
	--image-animated-loader: url(../images/animated-loader.svg);
	--image-animated-hand: url(../images/animated-hand.svg);
	--image-help-letter: url(../images/help-letter.svg);
	--image-help-letter-activated: url(../images/help-letter-activated.svg);
	--image-help-keyboard-key: url(../images/help-keyboard-key.svg);
	--image-help-remove-letter: url(../images/help-remove-letter.svg);
	--image-help-insert-letter: url(../images/icon-add-letter.svg);
	--image-help-insert-letter-position: url(../images/icon-insert-here.svg);
	--image-help-play-word: url(../images/icon-accept-changes.svg);
	--image-help-reset-move: url(../images/icon-abandon-changes.svg);
	--image-help-undo: url(../images/icon-undo.svg);
	--image-help-undo-all: url(../images/icon-undo-all.svg);
	--image-help-example-1: url(../images/help-example-1.svg);
	--image-help-example-2: url(../images/help-example-2.svg);
	--image-keyboard-letter: url(../images/help-letter.svg);
	--image-keyboard-letter-activated: url(../images/help-letter-activated.svg);

	background-color: rgba(var(--color-white));
}
:root.force-light-mode {
	color-scheme: light;
}
:root.force-dark-mode {
	--color-button-highlight: rgba(var(--color-gray-1));
	--color-header-text: rgba(var(--color-gray-1));
	--color-low-score: rgba(var(--color-gray-1));
	--color-ok-score: rgba(var(--color-orange-2));
	--color-good-score: rgba(var(--color-green-1));
	--color-played-letter: rgba(var(--color-green-1));
	--color-played-letter-text: rgba(var(--color-gray-5));
	--color-header-separator: rgba(var(--color-gray-3));
	--color-message-banner: rgba(var(--color-gray-2));
	--color-message-banner-text: rgba(var(--color-gray-4));
	--color-menu: rgba(var(--color-gray-4));
	--color-menu-text: rgba(var(--color-gray-2));
	--color-menu-btn: rgba(var(--color-gray-2));
	--color-menu-btn-text: rgba(var(--color-gray-4));
	--color-menu-link: rgba(var(--color-orange-2));
	--color-menu-radio: rgba(var(--color-orange-2));
	--color-menu-color-mode-selector: rgba(var(--color-gray-5));
	--color-menu-color-mode-selector-thumb: rgba(var(--color-orange-2));
	--color-help-popup: rgba(var(--color-gray-4));
	--color-help-popup-text: rgba(var(--color-gray-2));
	--color-help-tab: rgba(var(--color-gray-2));
	--color-help-tab-text: rgba(var(--color-gray-4));
	--color-help-tab-active: rgba(var(--color-gray-5));
	--color-help-tab-active-text: rgba(var(--color-white));
	--color-help-link-text: rgba(var(--color-orange-2));
	--color-help-emphasize: rgba(var(--color-orange-1));
	--color-help-selection: rgba(var(--color-gray-1));
	--color-help-selection-text: rgba(var(--color-gray-4));
	--color-next-word-separator: rgba(var(--color-gray-2));
	--color-next-play-letter: rgba(var(--color-gray-2));
	--color-keyboard-key: rgba(var(--color-gray-4));
	--color-keyboard-key-text: rgba(var(--color-white));

	--active-btn-opacity: 1.0;

	--image-menu-btn: url(../images/dark-mode/icon-menu.svg);
	--image-help-btn: url(../images/dark-mode/icon-help.svg);
	--image-close-btn: url(../images/dark-mode/icon-close.svg);
	--image-menu-new-game-btn: url(../images/dark-mode/icon-play-new-game.svg);
	--image-menu-help-btn: url(../images/dark-mode/icon-menu-help.svg);
	--image-score-trend-up-low: url(../images/dark-mode/icon-score-trend-up-low.svg);
	--image-score-trend-up-ok: url(../images/dark-mode/icon-score-trend-up-ok.svg);
	--image-score-trend-up-good: url(../images/dark-mode/icon-score-trend-up-good.svg);
	--image-score-trend-down-low: url(../images/dark-mode/icon-score-trend-down-low.svg);
	--image-score-trend-down-ok: url(../images/dark-mode/icon-score-trend-down-ok.svg);
	--image-score-trend-down-good: url(../images/dark-mode/icon-score-trend-down-good.svg);
	--image-score-trend-perfect: url(../images/dark-mode/icon-score-trend-perfect.svg);
	--image-next-play-marker: url(../images/dark-mode/icon-next-play-marker.svg);
	--image-undo-btn: url(../images/dark-mode/icon-undo.svg);
	--image-undo-all-btn: url(../images/dark-mode/icon-undo-all.svg);
	--image-remove-letter-btn: url(../images/dark-mode/icon-remove-letter.svg);
	--image-insert-here-btn: url(../images/dark-mode/icon-insert-here.svg);
	--image-add-letter-btn: url(../images/dark-mode/icon-add-letter.svg);
	--image-play-word-btn: url(../images/dark-mode/icon-accept-changes.svg);
	--image-reset-word-btn: url(../images/dark-mode/icon-abandon-changes.svg);
	--image-animated-loader: url(../images/dark-mode/animated-loader.svg);
	--image-animated-hand: url(../images/dark-mode/animated-hand.svg);
	--image-help-letter: url(../images/dark-mode/help-letter.svg);
	--image-help-letter-activated: url(../images/dark-mode/help-letter-activated.svg);
	--image-help-keyboard-key: url(../images/dark-mode/help-keyboard-key.svg);
	--image-help-remove-letter: url(../images/dark-mode/help-remove-letter.svg);
	--image-help-insert-letter: url(../images/dark-mode/help-add-letter.svg);
	--image-help-insert-letter-position: url(../images/dark-mode/icon-insert-here.svg);
	--image-help-play-word: url(../images/dark-mode/help-accept-changes.svg);
	--image-help-reset-move: url(../images/dark-mode/help-abandon-changes.svg);
	--image-help-undo: url(../images/dark-mode/icon-undo.svg);
	--image-help-undo-all: url(../images/dark-mode/icon-undo-all.svg);
	--image-help-example-1: url(../images/dark-mode/help-example-1.svg);
	--image-help-example-2: url(../images/dark-mode/help-example-2.svg);
	--image-keyboard-letter: url(../images/dark-mode/help-letter.svg);
	--image-keyboard-letter-activated: url(../images/dark-mode/help-letter-activated.svg);

	color-scheme: dark;
	background-color: rgba(var(--color-gray-5));
}

@media (prefers-color-scheme: dark) {
	:root:not(.force-light-mode) {
		--color-button-highlight: rgba(var(--color-gray-1));
		--color-header-text: rgba(var(--color-gray-1));
		--color-low-score: rgba(var(--color-gray-1));
		--color-ok-score: rgba(var(--color-orange-2));
		--color-good-score: rgba(var(--color-green-1));
		--color-played-letter: rgba(var(--color-green-1));
		--color-played-letter-text: rgba(var(--color-gray-5));
		--color-header-separator: rgba(var(--color-gray-3));
		--color-message-banner: rgba(var(--color-gray-2));
		--color-message-banner-text: rgba(var(--color-gray-4));
		--color-menu: rgba(var(--color-gray-4));
		--color-menu-text: rgba(var(--color-gray-2));
		--color-menu-btn: rgba(var(--color-gray-2));
		--color-menu-btn-text: rgba(var(--color-gray-4));
		--color-menu-link: rgba(var(--color-orange-2));
		--color-menu-radio: rgba(var(--color-orange-2));
		--color-menu-color-mode-selector: rgba(var(--color-gray-5));
		--color-menu-color-mode-selector-thumb: rgba(var(--color-orange-2));
		--color-help-popup: rgba(var(--color-gray-4));
		--color-help-popup-text: rgba(var(--color-gray-2));
		--color-help-tab: rgba(var(--color-gray-2));
		--color-help-tab-text: rgba(var(--color-gray-4));
		--color-help-tab-active: rgba(var(--color-gray-5));
		--color-help-tab-active-text: rgba(var(--color-white));
		--color-help-link-text: rgba(var(--color-orange-2));
		--color-help-emphasize: rgba(var(--color-orange-1));
		--color-help-selection: rgba(var(--color-gray-1));
		--color-help-selection-text: rgba(var(--color-gray-4));
		--color-next-word-separator: rgba(var(--color-gray-2));
		--color-next-play-letter: rgba(var(--color-gray-2));
		--color-keyboard-key: rgba(var(--color-gray-4));
		--color-keyboard-key-text: rgba(var(--color-white));

		--active-btn-opacity: 1.0;

		--image-menu-btn: url(../images/dark-mode/icon-menu.svg);
		--image-help-btn: url(../images/dark-mode/icon-help.svg);
		--image-close-btn: url(../images/dark-mode/icon-close.svg);
		--image-menu-new-game-btn: url(../images/dark-mode/icon-play-new-game.svg);
		--image-menu-help-btn: url(../images/dark-mode/icon-menu-help.svg);
		--image-score-trend-up-low: url(../images/dark-mode/icon-score-trend-up-low.svg);
		--image-score-trend-up-ok: url(../images/dark-mode/icon-score-trend-up-ok.svg);
		--image-score-trend-up-good: url(../images/dark-mode/icon-score-trend-up-good.svg);
		--image-score-trend-down-low: url(../images/dark-mode/icon-score-trend-down-low.svg);
		--image-score-trend-down-ok: url(../images/dark-mode/icon-score-trend-down-ok.svg);
		--image-score-trend-down-good: url(../images/dark-mode/icon-score-trend-down-good.svg);
		--image-score-trend-perfect: url(../images/dark-mode/icon-score-trend-perfect.svg);
		--image-next-play-marker: url(../images/dark-mode/icon-next-play-marker.svg);
		--image-undo-btn: url(../images/dark-mode/icon-undo.svg);
		--image-undo-all-btn: url(../images/dark-mode/icon-undo-all.svg);
		--image-remove-letter-btn: url(../images/dark-mode/icon-remove-letter.svg);
		--image-insert-here-btn: url(../images/dark-mode/icon-insert-here.svg);
		--image-add-letter-btn: url(../images/dark-mode/icon-add-letter.svg);
		--image-play-word-btn: url(../images/dark-mode/icon-accept-changes.svg);
		--image-reset-word-btn: url(../images/dark-mode/icon-abandon-changes.svg);
		--image-animated-loader: url(../images/dark-mode/animated-loader.svg);
		--image-animated-hand: url(../images/dark-mode/animated-hand.svg);
		--image-help-letter: url(../images/dark-mode/help-letter.svg);
		--image-help-letter-activated: url(../images/dark-mode/help-letter-activated.svg);
		--image-help-keyboard-key: url(../images/dark-mode/help-keyboard-key.svg);
		--image-help-remove-letter: url(../images/dark-mode/help-remove-letter.svg);
		--image-help-insert-letter: url(../images/dark-mode/help-add-letter.svg);
		--image-help-insert-letter-position: url(../images/dark-mode/icon-insert-here.svg);
		--image-help-play-word: url(../images/dark-mode/help-accept-changes.svg);
		--image-help-reset-move: url(../images/dark-mode/help-abandon-changes.svg);
		--image-help-undo: url(../images/dark-mode/icon-undo.svg);
		--image-help-undo-all: url(../images/dark-mode/icon-undo-all.svg);
		--image-help-example-1: url(../images/dark-mode/help-example-1.svg);
		--image-help-example-2: url(../images/dark-mode/help-example-2.svg);
		--image-keyboard-letter: url(../images/dark-mode/help-letter.svg);
		--image-keyboard-letter-activated: url(../images/dark-mode/help-letter-activated.svg);

		color-scheme: dark;
		background-color: rgba(var(--color-gray-5));
	}
}

html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: var(--color-transparent);
}

body {
	position: relative;
	display: grid;
	grid-template-areas:
		"header"
		"play-area"
		"keyboard"
	;
	grid-template-rows: min-content auto min-content;

	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI", sans-serif;
	height: 100%;
	overflow: hidden;

	overscroll-behavior-x: contain;
}

button {
	font-family: "Segoe UI", sans-serif;
}

button:disabled,
input[type=radio]:disabled + label {
	cursor: not-allowed !important;
}

header {
	--header-text-spacing: calc(var(--header-text-size) / 3);
	--menu-button-size: calc(var(--header-text-size) * 1.3);
	--help-button-size: calc(var(--header-text-size) * 1.3);

	position: relative;
	grid-area: header;
	text-align: center;
	width: 100%;
	height: min-content;
	cursor: default;
	border-bottom: thin solid var(--color-header-separator);
}

header > #menu-toggle-btn {
	position: absolute;
	left: var(--header-text-spacing);
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	margin: 0;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	border-radius: 15%;
	outline: none;
	color: var(--color-transparent);
	background: var(--color-transparent);
	border: none;
	cursor: pointer;
}
header > #menu-toggle-btn::after {
	content: "";
	display: block;
	width: var(--menu-button-size);
	height: var(--menu-button-size);
	border-radius: 15%;
	background-image: var(--image-menu-btn);
	background-position: 0;
	background-size: var(--menu-button-size);
	background-repeat: no-repeat;
}
header > #menu-toggle-btn:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
	opacity: var(--active-btn-opacity);
}

header > #help-btn {
	position: absolute;
	left: calc((var(--header-text-spacing) * 1.5) + var(--menu-button-size));
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	margin: 0;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	border-radius: 50%;
	outline: none;
	color: var(--color-transparent);
	background: var(--color-transparent);
	border: none;
	cursor: help;
}
header > #help-btn::after {
	content: "";
	display: block;
	width: var(--help-button-size);
	height: var(--help-button-size);
	border-radius: 50%;
	background-image: var(--image-help-btn);
	background-position: 50% 50%;
	background-size: calc(var(--help-button-size) * 0.6);
	background-repeat: no-repeat;
}
header > #help-btn:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
	opacity: var(--active-btn-opacity);
}

header > #title {
	display: inline-block;
	font-size: var(--header-text-size);
	font-weight: bold;
	color: var(--color-header-text);
	padding-top: var(--header-text-spacing);
	padding-bottom: var(--header-text-spacing);
}

menu#main-menu {
	--menu-text-size: calc(var(--play-width) / 16);

	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: min-content;
	min-height: 50%;
	z-index: 1000;
	list-style-type: none;
	margin: 0;
	padding: var(--menu-text-size);
	padding-top: calc(var(--menu-text-size) * 2);
	border-bottom-right-radius: calc(var(--horz-unit) * 2);
	color: var(--color-menu-text);
	background-color: var(--color-menu);
	box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.34);
}
menu#main-menu.hidden {
	display: none;
}
menu#main-menu > #close-menu-btn {
	--button-size: calc(var(--menu-text-size) * 1.8);

	position: absolute;
	top: 0;
	right: 0;
	width: var(--button-size);
	height: var(--button-size);
	padding: 0;
	margin: 0;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	border-radius: 50%;
	outline: none;
	color: var(--color-transparent);
	background: var(--color-transparent);
	border: none;
	cursor: pointer;
}
menu#main-menu > #close-menu-btn::after {
	content: "";
	display: block;
	width: var(--button-size);
	height: var(--button-size);
	border-radius: 50%;
	background-image: var(--image-close-btn);
	background-position: 50% 50%;
	background-size: calc(var(--button-size) * 0.6);
	background-repeat: no-repeat;
}
menu#main-menu > #close-menu-btn:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
	opacity: var(--active-btn-opacity);
}
menu#main-menu > li {
	margin: 0;
	padding: 0;
}
menu#main-menu > li button#new-game-btn {
	--icon-size: calc(var(--menu-text-size) * 0.9);

	position: relative;
	font-weight: bold;
	font-size: var(--menu-text-size);
	text-transform: uppercase;
	white-space: nowrap;
	outline: none;
	background-color: var(--color-menu-btn);
	color: var(--color-menu-btn-text);
	border: thin solid var(--color-menu-btn-text);
	border-radius: calc(var(--horz-unit) * 2);
	padding:
		calc(var(--menu-text-size) / 3.5) calc(var(--menu-text-size) * 1.1)
		calc(var(--menu-text-size) / 3.5) calc(var(--menu-text-size) * 2);
	cursor: pointer;
}
menu#main-menu > li button#new-game-btn:after {
	content: "";
	display: block;
	position: absolute;
	width: var(--icon-size);
	height: var(--icon-size);
	left: calc(var(--icon-size) / 2);
	top: 50%;
	transform: translateY(-50%);
	background-image: var(--image-menu-new-game-btn);
	background-position: 0;
	background-size: var(--icon-size);
	background-repeat: no-repeat;
}
menu#main-menu > li button#new-game-btn:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
	opacity: var(--active-btn-opacity);
}
menu#main-menu > li#menu-difficulty-selector {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-template-rows: min-content;
	margin:
		calc(var(--horz-unit) * 6) 0
		calc(var(--horz-unit) * 10) calc(var(--horz-unit) * 6);
	gap: calc(var(--horz-unit) * 4);
}
menu#main-menu > li#menu-difficulty-selector input[type=radio] {
	align-self: center;
	width: calc(var(--horz-unit) * 6);
	height: calc(var(--horz-unit) * 6);
	cursor: pointer;
	accent-color: var(--color-menu-radio);
}
menu#main-menu > li#menu-difficulty-selector input[type=radio] + label {
	align-self: center;
	color: var(--color-menu-text);
	white-space: nowrap;
	font-weight: bold;
	font-size: var(--menu-text-size);
	text-transform: uppercase;
	cursor: pointer;
}
menu#main-menu > li button#menu-help-btn {
	--icon-size: calc(var(--menu-text-size) * 0.9);

	position: relative;
	font-weight: bold;
	font-size: var(--menu-text-size);
	text-transform: uppercase;
	white-space: nowrap;
	outline: none;
	background-color: var(--color-menu-btn);
	color: var(--color-menu-btn-text);
	border: thin solid var(--color-menu-btn-text);
	border-radius: calc(var(--horz-unit) * 2);
	padding:
		calc(var(--menu-text-size) / 3.5) calc(var(--menu-text-size) * 1.1)
		calc(var(--menu-text-size) / 3.5) calc(var(--menu-text-size) * 2);
	cursor: pointer;
}
menu#main-menu > li button#menu-help-btn:after {
	content: "";
	display: block;
	position: absolute;
	width: var(--icon-size);
	height: var(--icon-size);
	left: calc(var(--icon-size) / 2);
	top: 50%;
	transform: translateY(-50%);
	background-image: var(--image-menu-help-btn);
	background-position: 0;
	background-size: var(--icon-size);
	background-repeat: no-repeat;
}
menu#main-menu > li button#menu-help-btn:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
	opacity: var(--active-btn-opacity);
}
menu#main-menu > li#word-suggestion-link,
menu#main-menu > li#feedback-link {
	margin-top: calc(var(--horz-unit) * 6);
}
menu#main-menu > li#word-suggestion-link > a,
menu#main-menu > li#word-suggestion-link > a:visited,
menu#main-menu > li#feedback-link > a,
menu#main-menu > li#feedback-link > a:visited {
	color: var(--color-menu-link);
	font-size: calc(var(--menu-text-size) * 0.8);
	white-space: nowrap;
}
menu#main-menu > li#menu-color-mode-selector {
	--thumb-size: var(--menu-text-size);

	position: relative;
	display: grid;
	grid-template-columns: repeat(3, min-content);
	grid-template-rows: min-content;
	margin-top:	calc(var(--horz-unit) * 10);
}
menu#main-menu > li#menu-color-mode-selector input[type=radio] {
	position: absolute;
	visibility: hidden;
	font-size: var(--hidden-text-size);
	width: var(--hidden-text-size);
	height: var(--hidden-text-size);
	opacity: 0;
	left: -2000px;
}
menu#main-menu > li#menu-color-mode-selector input[type=radio] + label {
	position: relative;
	display: block;
	align-self: center;
	color: var(--color-menu-text);
	white-space: nowrap;
	font-weight: bold;
	text-transform: uppercase;
	font-size: var(--thumb-size);
	height: var(--thumb-size);
	line-height: var(--thumb-size);
	cursor: pointer;
}
menu#main-menu > li#menu-color-mode-selector div:first-child {
	z-index: 10;
}
menu#main-menu > li#menu-color-mode-selector div:first-child input[type=radio] + label::after {
	content: "";
	display: inline-block;
	position: relative;
	top: calc(var(--thumb-size) / 6);
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
	background-color: var(--color-menu-color-mode-selector-thumb);
	visibility: hidden;
	margin-left: calc(var(--horz-unit) * 3);
}
menu#main-menu > li#menu-color-mode-selector div:first-child input[type=radio]:checked + label::after {
	visibility: visible;
}
menu#main-menu > li#menu-color-mode-selector > #color-mode-selector-track {
	position: relative;
	z-index: 0;
	top: calc(var(--thumb-size) / 6);
	align-self: center;
	width: calc(var(--thumb-size) * 2);
	margin: 0 calc(var(--thumb-size) * -1);
	height: calc(var(--thumb-size));
	background-color: var(--color-menu-color-mode-selector);
	border-radius: calc(var(--thumb-size) / 2);
}
menu#main-menu > li#menu-color-mode-selector div:last-child {
	z-index: 10;
}
menu#main-menu > li#menu-color-mode-selector div:last-child input[type=radio] + label::before {
	content: "";
	display: inline-block;
	position: relative;
	top: calc(var(--thumb-size) / 6);
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
	background-color: var(--color-menu-color-mode-selector-thumb);
	visibility: hidden;
	margin-right: calc(var(--horz-unit) * 3);
}
menu#main-menu > li#menu-color-mode-selector div:last-child input[type=radio]:checked + label::before {
	visibility: visible;
}
menu#main-menu > li#menu-color-mode-selector div:first-child input[type=radio]:checked + label,
menu#main-menu > li#menu-color-mode-selector div:last-child input[type=radio]:checked + label {
	pointer-events: none;
}
menu#main-menu > li#menu-color-mode-selector div:first-child input[type=radio] + label::after,
menu#main-menu > li#menu-color-mode-selector div:last-child input[type=radio] + label::before {
	pointer-events: auto;
}


#play-area {
	--max-letter-count: 4;

	/* N = play-width */
	/* M = max-letter-count */
	/* x = (N - (M-1)x / 3 - 2x - 0.25x) / M */
	/* x = 3N / (4M + 5.75) */
	--letter-size: calc(
		(var(--play-width) * 3) / ((var(--max-letter-count) * 4) + 5.75)
	);
	--letter-spacing: calc(var(--letter-size) / 3);
	--word-size: calc(
		(var(--letter-size) * var(--max-letter-count)) +
		(var(--letter-spacing) * (var(--max-letter-count) - 1))
	);

	--play-action-gutter-size: calc(var(--letter-size) * 2);
	--play-action-btn-size: calc(var(--play-action-gutter-size) * 0.4);
	--play-action-btn-spacing: calc(var(--play-action-gutter-size) * 0.1);

	--letter-insert-btn-size: calc(var(--letter-spacing) * 2.9);
	--letter-remove-btn-size: calc(var(--letter-spacing) * 2.4);

	--bottom-spacing: calc(var(--horz-unit) * 12);

	grid-area: play-area;
	align-self: end;
	position: relative;
	min-height: calc(var(--letter-size) * 2);
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	overflow-y: overlay;
}

#play-area.hidden {
	display: none;
}

#played-words, #next-play > form {
	position: relative;
	display: grid;
	grid-template-columns: var(--word-size) var(--play-action-gutter-size);
	grid-template-rows: min-content;
	gap: var(--letter-spacing) calc(var(--letter-spacing) / 2);
	width: var(--play-width);
}

#played-words {
	margin: calc(var(--letter-spacing) / 2) auto 0 auto;
	padding-bottom: calc(var(--letter-spacing) / 2);
	border-bottom: thin solid var(--color-next-word-separator);
}

#played-words-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#played-words-list > li {
	margin: calc(var(--letter-spacing) / 2) 0;
	padding: 0;
}
#played-words-list > li:last-child {
	margin-bottom: 0;
}
#played-words > #played-words-list > li.word > .letter > span {
	background-color: var(--color-played-letter);
	color: var(--color-played-letter-text);
	border-color: var(--color-played-letter);

	/* specifically allow selection (and copy) of text in
	   played words list */
	-webkit-user-select: text !important;
	user-select: text !important;
	cursor: default !important;
}
#played-words > #played-words-list > li.word > .letter > span::selection {
	color: var(--color-played-words-selection-text);
	background-color: var(--color-played-words-selection);
}
#played-words > #played-words-list > li.word > .score-trend {
	--icon-size: calc(var(--letter-size) * 0.5);

	display: block;
	position: absolute;
	top: 50%;
	right: calc(0px - (var(--icon-size) * 1.4));
	transform: translateY(-50%);
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	color: var(--color-transparent);
}
#played-words > #played-words-list > li.word > .score-trend::after {
	content: "";
	display: block;
	width: var(--icon-size);
	height: var(--icon-size);
	background-position: 0 0;
	background-size: var(--icon-size);
	background-repeat: no-repeat;
}
#played-words > #played-words-list > li.word > .score-trend.up::after {
	background-image: var(--image-score-trend-up-low);
}
#played-words > #played-words-list > li.word > .score-trend.up.ok::after {
	background-image: var(--image-score-trend-up-ok);
}
#played-words > #played-words-list > li.word > .score-trend.up.good::after {
	background-image: var(--image-score-trend-up-good);
}
#played-words > #played-words-list > li.word > .score-trend.down::after {
	background-image: var(--image-score-trend-down-low);
}
#played-words > #played-words-list > li.word > .score-trend.down.ok::after {
	background-image: var(--image-score-trend-down-ok);
}
#played-words > #played-words-list > li.word > .score-trend.down.good::after {
	background-image: var(--image-score-trend-down-good);
}
#played-words > #played-words-list > li.word > .score-trend.perfect::after {
	background-image: var(--image-score-trend-perfect);
}

#played-words.complete {
	margin-bottom: var(--bottom-spacing);
	padding-bottom: 0;
	border-bottom: thin solid var(--color-transparent);
}
#played-words.complete > #played-words-list > li.word:last-child {
	padding-bottom: calc(var(--letter-spacing) / 2);
	border-top: thin solid var(--color-transparent);
	border-bottom: thin solid var(--color-transparent);
}

#played-words > #play-action-gutter {
	position: relative;
	height: 100%;
}
#played-words > #play-action-gutter > #undo-btn,
#played-words > #play-action-gutter > #undo-all-btn {
	--button-size: var(--letter-size);

	position: absolute;
	padding: 0;
	margin: 0;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	outline: none;
	color: var(--color-transparent);
	background: var(--color-transparent);
	border: none;
	cursor: pointer;
}
#played-words > #play-action-gutter > #undo-btn {
	right: 0;
	bottom: calc(var(--letter-spacing) + var(--letter-size));
}
#played-words > #play-action-gutter > #undo-all-btn {
	right: 0;
	top: calc(var(--letter-spacing) / 2);
}
#played-words > #play-action-gutter > #undo-btn::after,
#played-words > #play-action-gutter > #undo-all-btn::after {
	content: "";
	display: block;
	width: var(--button-size);
	height: var(--button-size);
	background-position: 50% 50%;
	background-size: calc(var(--button-size) * 0.8);
	background-repeat: no-repeat;
}
#played-words > #play-action-gutter > #undo-btn::after {
	background-image: var(--image-undo-btn);
}
#played-words > #play-action-gutter > #undo-all-btn::after {
	background-image: var(--image-undo-all-btn);
}
#played-words > #play-action-gutter > #undo-btn:focus, #undo-all-btn:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
	opacity: var(--active-btn-opacity);
}
#played-words > #play-action-gutter > #undo-btn:disabled, #undo-all-btn:disabled {
	display: none;
}
#played-words > #play-action-gutter > #game-score {
	--score-text-size: calc(var(--letter-size) / 2);

	position: absolute;
	right: 0;
	bottom: 0;
	font-weight: bold;
	font-size: var(--score-text-size);
	line-height: var(--letter-size);
	color: var(--color-low-score);
}
#played-words > #play-action-gutter > #game-score.ok {
	color: var(--color-ok-score);
}
#played-words > #play-action-gutter > #game-score.good {
	color: var(--color-good-score);
}
#played-words > #play-action-gutter > #score.hidden {
	display: none;
}

#next-play {
	width: var(--play-width);
	padding-top: calc(var(--letter-spacing) / 2);
	margin: 0 auto var(--bottom-spacing) auto;
}
#next-play.hidden {
	display: none;
}

#next-play-marker {
	--marker-width: calc(var(--horz-unit) * 3);
	--marker-height: calc(var(--marker-width) * 1.6);

	position: absolute;
	left: calc(var(--marker-width) * -1.2);
	top: calc((var(--letter-size) - var(--marker-height)) / 2);
}
#next-play-marker::after {
	content: "";
	display: block;
	width: var(--marker-width);
	height: var(--marker-height);
	background-image: var(--image-next-play-marker);
	background-position: 0 0;
	background-size: var(--marker-width) var(--marker-height);
	background-repeat: no-repeat;
}

.word {
	grid-column-start: 1;

	position: relative;
	display: inline-flex;
	justify-content: flex-start;
	width: var(--word-size);
	height: var(--letter-size);
}
.word > .letter {
	position: relative;
	width: var(--letter-size);
	height: var(--letter-size);
	margin-right: var(--letter-spacing);
}
.word > .letter:last-child {
	margin: 0;
}
.word > .letter > input[type=radio] {
	position: absolute;
	visibility: hidden;
	font-size: var(--hidden-text-size);
	width: var(--hidden-text-size);
	height: var(--hidden-text-size);
	opacity: 0;
	left: -2000px;
}
.word > .letter > input[type=radio] + label {
	cursor: pointer;
}
.word > .letter > input[type=radio] + label,
.word > .letter > span {
	display: block;
	width: var(--letter-size);
	height: var(--letter-size);
	padding: 0;
	line-height: calc(var(--letter-size) * 0.9);
	font-size: calc(var(--letter-size) * 0.75);
	font-weight: bold;
	text-align: center;
	color: var(--color-next-play-letter);
	border: thin solid var(--color-next-play-letter);
	border-radius: calc(var(--horz-unit) * 0.75);
}
.word > .letter > input[type=radio]:checked + label {
	color: var(--color-edit-letter-text);
	border-color: var(--color-edit-letter);
	background-color: var(--color-edit-letter);
}
.word > .letter > .remove-letter-btn {
	display: none;
	position: absolute;
	z-index: 20;
	bottom: 0;
	right: 0;
	transform: translate(50%,65%);
	padding: 0;
	margin: 0;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	outline: none;
	color: var(--color-transparent);
	background: var(--color-transparent);
	border: none;
	cursor: pointer;
}
.word > .letter > .remove-letter-btn::after {
	content: "";
	display: block;
	width: var(--letter-remove-btn-size);
	height: var(--letter-remove-btn-size);
	background-image: var(--image-remove-letter-btn);
	background-position: 0 0;
	background-size: calc(var(--letter-remove-btn-size) * 0.8);
	background-repeat: no-repeat;
}
.word > .letter > .remove-letter-btn:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
}
.word > .letter > input[type=radio]:checked + label + .remove-letter-btn {
	display: block;
}
.word > .letter > .insert-here-btn {
	display: block;
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: calc(0px - (var(--letter-spacing) / 2));
	transform: translate(-50%,70%);
	padding: 0;
	margin: 0;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	border-radius: 50%;
	outline: none;
	color: var(--color-transparent);
	background: var(--color-transparent);
	border: none;
	cursor: pointer;
}
.word > .letter:first-child > .insert-here-btn {
	left: 0;
	transform: translate(-55%,70%);
}
.word > .letter:last-child > .insert-here-btn.insert-at-end {
	left: auto;
	right: 0;
	transform: translate(55%,70%);
}
.word > .letter > .insert-here-btn::after {
	content: "";
	display: block;
	width: var(--letter-insert-btn-size);
	height: var(--letter-insert-btn-size);
	border-radius: 50%;
	background-image: var(--image-insert-here-btn);
	background-position: 50% 50%;
	background-size: calc(var(--letter-insert-btn-size) * 0.65);
	background-repeat: no-repeat;
}
.word > .letter > .insert-here-btn:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
}
.word > .letter > button:disabled {
	display: none !important;
}

#play-action-buttons {
	position: relative;
	display: inline-flex;
	justify-content: flex-end;
	align-self: center;
	gap: var(--play-action-btn-spacing);
	flex-wrap: wrap;
	width: var(--play-action-gutter-size);
	height: min-content;
}

#play-action-buttons > button {
	display: block;
	padding: 0;
	margin: 0;
	flex-basis: auto;
	width: var(--play-action-btn-size);
	height: var(--play-action-btn-size);
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	outline: none;
	color: var(--color-transparent);
	background: var(--color-transparent);
	border: none;
	cursor: pointer;
}
#play-action-buttons > button:disabled {
	display: none;
}
#play-action-buttons > button:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
	opacity: var(--active-btn-opacity);
}
#play-action-buttons > button:after {
	content: "";
	display: block;
	width: var(--play-action-btn-size);
	height: var(--play-action-btn-size);
	background-position: 0;
	background-size: var(--play-action-btn-size);
	background-repeat: no-repeat;
}
#play-action-buttons > button#insert-letter-btn:after {
	background-image: var(--image-add-letter-btn);
}
#play-action-buttons > button#play-word-btn:after {
	background-image: var(--image-play-word-btn);
}
#play-action-buttons > button#reset-word-btn:after {
	background-image: var(--image-reset-word-btn);
}

#keyboard {
	--key-width: calc(var(--play-width) / 11.8);
	--key-height: calc(var(--key-width) * 1.8);
	--key-spacing: calc(var(--key-width) / 5);
	--bottom-spacing: calc(var(--key-spacing) * 5);

	grid-area: keyboard;

	position: relative;
	z-index: 0;
	width: var(--play-width);
	height: calc((var(--key-height) * 3) + (var(--key-spacing) * 2));
	margin: 0 auto var(--bottom-spacing) auto;
}
#keyboard > form {
	position: relative;
	display: inline-flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	gap: var(--key-spacing);
	flex-wrap: wrap;
}
#keyboard > form > button {
	position: relative;
	flex-basis: auto;
	width: var(--key-width);
	height: var(--key-height);
	background-color: var(--color-keyboard-key);
	color: var(--color-keyboard-key-text);
	border: thin solid var(--color-keyboard-key-text);
	border-radius: calc(var(--key-width) / 5);
	font-size: calc(var(--key-width) * 0.8);
	line-height: var(--key-height);
	padding: 0;
	cursor: pointer;
}
#keyboard > form > button:disabled {
	opacity: 0.3;
}
#keyboard > form > button[value=A] {
	margin-left: calc(var(--key-width) * 0.6);
}
#keyboard > form > button[value=L] {
	margin-right: calc(var(--key-width) * 0.6);
}
#keyboard > form > #keyboard-disabled-banner {
	--banner-text-size: calc(var(--horz-unit) * 5);

	display: block;
	position: absolute;
	background-color: var(--color-keyboard-banner);
	color: var(--color-keyboard-banner-text);
	font-weight: bold;
	font-size: var(--banner-text-size);
	width: 80%;
	min-width: calc(var(--play-width) * 0.7);
	max-width: var(--play-width);
	left: 50%;
	bottom: calc(var(--key-height) * 1.5);
	transform: translateX(-50%);
	padding: calc(var(--horz-unit) * 4);
	border: thin solid var(--color-keyboard-banner-text);
	border-radius: calc(var(--horz-unit) * 1.5);
	text-align: center;
	z-index: 1000;

	/* specifically allow selection (and copy) of text in
   	   message banner */
	-webkit-user-select: text !important;
	user-select: text !important;
	cursor: default !important;
}
#keyboard > form > #keyboard-disabled-banner.menu-showing,
#keyboard > form > #keyboard-disabled-banner.help-showing,
#keyboard > form > #keyboard-disabled-banner.hidden {
	display: none;
}
#keyboard > form > #keyboard-disabled-banner::selection {
	color: var(--color-keyboard-banner);
	background-color: var(--color-keyboard-banner-text);
}
#keyboard > form > #keyboard-disabled-banner i {
	--icon-size: calc(var(--banner-text-size) * 1.5);

	display: inline-block;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	vertical-align: middle;
}
#keyboard > form > #keyboard-disabled-banner i::after {
	content: "";
	display: inline-block;
	width: var(--icon-size);
	height: var(--icon-size);
	background-position: 0;
	background-size: var(--icon-size);
	background-repeat: no-repeat;
}
#keyboard > form > #keyboard-disabled-banner i#banner-letter::after {
	background-image: var(--image-keyboard-letter);
}
#keyboard > form > #keyboard-disabled-banner i#banner-activated-letter::after {
	background-image: var(--image-keyboard-letter-activated);
}
#keyboard > form > #keyboard-disabled-banner #close-keyboard-banner-btn {
	--button-size: calc(var(--horz-unit) * 10);

	position: absolute;
	top: calc(0px - (var(--button-size) / 2));
	right: calc(0px - (var(--button-size) / 2));
	width: var(--button-size);
	height: var(--button-size);
	padding: 0;
	margin: 0;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	border-radius: 50%;
	outline: none;
	color: var(--color-transparent);
	background: var(--color-transparent);
	border: none;
	cursor: pointer;
}
#keyboard > form > #keyboard-disabled-banner #close-keyboard-banner-btn::after {
	content: "";
	display: block;
	width: var(--button-size);
	height: var(--button-size);
	border-radius: 50%;
	background-image: var(--image-close-btn);
	background-position: 50% 50%;
	background-size: calc(var(--button-size) * 0.6);
	background-repeat: no-repeat;
}

#next-play > form,
#keyboard > form {
	margin: 0;
	padding: 0;
}

#loading {
	display: block;
	position: fixed;
	color: var(--color-transparent);
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 1000;
}
#loading::after {
	--img-width: calc(var(--horz-unit) * 40);
	--img-height: calc(var(--img-width) * 0.231);

	content: "";
	display: block;
	width: var(--img-width);
	height: var(--img-height);
	background-image: var(--image-animated-loader);
	background-position: 0;
	background-size: var(--img-width) var(--img-height);
	background-repeat: no-repeat;
}
#loading.hidden {
	display: none;
}

#hand-hint {
	display: block;
	position: absolute;
	color: var(--color-transparent);
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	transform: translate(-50%,-50%);
	z-index: 1000;
}
#hand-hint::after {
	--img-size: calc(var(--horz-unit) * 10);

	content: "";
	display: block;
	width: var(--img-size);
	height: var(--img-size);
	background-image: var(--image-animated-hand);
	background-position: 0;
	background-size: var(--img-size);
	background-repeat: no-repeat;
}

#message-banner {
	display: block;
	position: fixed;
	background-color: var(--color-message-banner);
	color: var(--color-message-banner-text);
	font-weight: bold;
	font-size: calc(var(--horz-unit) * 5);
	width: 70%;
	min-width: calc(var(--play-width) * 0.7);
	max-width: var(--play-width);
	left: 50%;
	top: calc(var(--header-text-size) * 2.1);
	transform: translateX(-50%);
	padding: calc(var(--horz-unit) * 4);
	border: thin solid var(--color-message-banner-text);
	border-radius: calc(var(--horz-unit) * 1.5);
	text-align: center;
	z-index: 1000;

	/* specifically allow selection (and copy) of text in
   	   message banner */
	-webkit-user-select: text !important;
	user-select: text !important;
	cursor: default !important;
}
#message-banner.hidden {
	display: none;
}
#message-banner::selection {
	color: var(--color-message-banner);
	background-color: var(--color-message-banner-text);
}

#help-popup {
	--max-help-width: calc(var(--play-width) * 0.98);
	--max-help-height: calc(var(--vh-unit) * 80);
	--help-text-size: min(
		var(--max-help-width) / 17.5,
		var(--max-help-height) / 34
	);

	position: fixed;
	width: var(--max-help-width);
	left: 50%;
	top: calc(var(--header-text-size) * 2.1);
	transform: translateX(-50%);
	background-color: var(--color-help-popup);
	border: var(--horz-unit) solid var(--color-help-popup-text);
	border-radius: calc(var(--horz-unit) * 3);
	padding: calc(var(--horz-unit) * 4);
	font-size: var(--help-text-size);
	z-index: 1000;
}
#help-popup a, #help-popup a:visited {
	color: var(--color-help-link-text);
}
#help-popup em {
	color: var(--color-help-emphasize);
	font-style: normal;
}
#help-popup.hidden {
	display: none;
}
#help-popup > #close-help-btn {
	--button-size: calc(var(--horz-unit) * 10);

	position: absolute;
	top: 0;
	right: 0;
	width: var(--button-size);
	height: var(--button-size);
	padding: 0;
	margin: 0;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	border-radius: 50%;
	outline: none;
	color: var(--color-transparent);
	background: var(--color-transparent);
	border: none;
	cursor: pointer;
}
#help-popup > #close-help-btn::after {
	content: "";
	display: block;
	width: var(--button-size);
	height: var(--button-size);
	border-radius: 50%;
	background-image: var(--image-close-btn);
	background-position: 50% 50%;
	background-size: calc(var(--button-size) * 0.6);
	background-repeat: no-repeat;
}
#help-popup > #close-help-btn:focus {
	filter: drop-shadow(0 0 calc(var(--horz-unit) * 1.3) var(--color-button-highlight));
	opacity: var(--active-btn-opacity);
}
#help-popup p:nth-of-type(1) {
	margin-top: calc(var(--help-text-size) * 1.1);
}
#help-popup i {
	--icon-size: calc(var(--help-text-size) * 1.5);

	display: inline-block;
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	vertical-align: middle;
}
#help-popup i::after {
	content: "";
	display: inline-block;
	width: var(--icon-size);
	height: var(--icon-size);
	background-position: 0;
	background-size: var(--icon-size);
	background-repeat: no-repeat;
}
#help-popup i#help-letter::after {
	background-image: var(--image-help-letter);
}
#help-popup i#help-activated-letter::after {
	background-image: var(--image-help-letter-activated);
}
#help-popup i#help-keyboard-key::after {
	width: calc(var(--icon-size) * 0.75);
	background-size: calc(var(--icon-size) * 0.75) var(--icon-size);
	background-image: var(--image-help-keyboard-key);
}
#help-popup i#help-remove-letter::after {
	background-image: var(--image-help-remove-letter);
}
#help-popup i#help-insert-letter::after {
	background-image: var(--image-help-insert-letter);
}
#help-popup i#help-insert-letter-position::after {
	background-image: var(--image-help-insert-letter-position);
}
#help-popup i#help-play-word::after {
	background-image: var(--image-help-play-word);
}
#help-popup i#help-reset-move::after {
	background-image: var(--image-help-reset-move);
}
#help-popup i#help-undo::after {
	background-image: var(--image-help-undo);
}
#help-popup i#help-undo-all::after {
	background-image: var(--image-help-undo-all);
}
#help-popup > #help-content-tabs {
	position: relative;
	display: flex;
	margin: 0 auto calc(var(--help-text-size) * 1.5) auto;
	padding: 0;
	justify-content: center;
	gap: calc(var(--horz-unit) * 3);
	list-style-type: none;
}
#help-popup > #help-content-tabs > li > input[type=radio] {
	position: absolute;
	visibility: hidden;
	font-size: var(--hidden-text-size);
	width: var(--hidden-text-size);
	height: var(--hidden-text-size);
	opacity: 0;
	left: -2000px;
}
#help-popup > #help-content-tabs > li > input[type=radio] + label {
	--tab-text-size: calc(var(--max-help-width) / 23);

	font-size: var(--tab-text-size);
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--color-help-tab);
	color: var(--color-help-tab-text);
	border: thin solid var(--color-help-tab-text);
	padding: calc(var(--tab-text-size) * 0.25) calc(var(--tab-text-size) * 0.75);
	border-radius: calc(var(--tab-text-size) / 3);
	cursor: pointer;
	white-space: nowrap;
}
#help-popup > #help-content-tabs > li > input[type=radio]:checked + label {
	background-color: var(--color-help-tab-active);
	color: var(--color-help-tab-active-text);
	cursor: default;
}
#help-popup > section {
	margin-top: var(--help-text-size);
}
#help-popup > section.hidden {
	display: none;
}
#help-example-games {
	display: flex;
	justify-content: center;
}
#help-example-1 {
	--img-width: calc(var(--max-help-width) * 0.528);
	--img-height: calc(var(--img-width) * 0.86);
}
#help-example-2 {
	--img-width: calc(var(--max-help-width) * 0.332);
	--img-height: calc(var(--img-width) * 1.364);
}
#help-example-1, #help-example-2 {
	font-size: var(--hidden-text-size);
	line-height: var(--hidden-text-size);
	color: var(--color-transparent);
}
#help-example-1::after, #help-example-2::after {
	content: "";
	display: block;
	width: var(--img-width);
	height: var(--img-height);
	background-position: 0;
	background-size: var(--img-width) var(--img-height);
	background-repeat: no-repeat;
}
#help-example-1::after {
	background-image: var(--image-help-example-1);
}
#help-example-2::after {
	background-image: var(--image-help-example-2);
}

/* specifically allow selection (and copy) of text in
   help popup */
#help-popup > p,
#help-popup > p > a,
#help-popup > section p,
#help-popup > section a,
#help-popup > section strong,
#help-example-games > div {
	-webkit-user-select: text !important;
	user-select: text !important;
	cursor: default !important;
}
#help-popup ::selection {
	color: var(--color-help-selection-text);
	background-color: var(--color-help-selection);
}
