:root {
	--vh-unit: 1vh;
	--vw-unit: 1vw;
	--max-play-height: calc(var(--vh-unit) * 75);
	--max-play-width: calc(var(--vw-unit) * 95);
	--play-width: min(var(--max-play-width),var(--max-play-height) * 0.75);
	--play-height: min(var(--max-play-height),var(--play-width) * 1.33);
	--horz-unit: calc(var(--play-width) / 100);
	--vert-unit: calc(var(--play-height) / 100);
}

html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-ms-touch-action: none;
	touch-action: none;
	-webkit-user-select: none;
	user-select: none;
}

body {
	position: relative;
	display: grid;
	grid-template-areas:
		"header"
		"play-area"
		"keyboard"
	;
	grid-template-rows: min-content auto min-content;
	/*align-items: end;*/

	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI", sans-serif;
	height: 100%;
	overflow: hidden;

	overscroll-behavior-x: contain;
}

button:disabled,
input[type=radio]:disabled + label {
	cursor: not-allowed !important;
}

header {
	--header-text-size: calc(var(--play-width) / 12);
	--header-text-spacing: calc(var(--header-text-size) / 3);
	--menu-button-size: calc(var(--header-text-size) * 1.3);

	position: relative;
	grid-area: header;
	text-align: center;
	width: 100%;
	height: min-content;
	cursor: default;
	border-bottom: thin solid #ccc;
}

header > #menu-toggle-btn {
	position: absolute;
	left: var(--header-text-spacing);
	top: 50%;
	transform: translateY(-50%);
	font-size: calc(var(--menu-button-size) * 0.65);
	font-weight: bold;
	line-height: var(--menu-button-size);
	padding: 0 calc(var(--menu-button-size) * 0.2);
	border: thin solid #999;
	border-radius: calc(var(--menu-button-size) * 0.2);
	cursor: pointer;
}

header > span {
	display: inline-block;
	font-size: var(--header-text-size);
	font-weight: bold;
	padding-top: var(--header-text-spacing);
	padding-bottom: var(--header-text-spacing);
}

menu#main-menu {
	--menu-text-size: calc(var(--play-width) / 16);

	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: min-content;
	min-height: 50%;
	z-index: 1000;
	list-style-type: none;
	margin: 0;
	padding: var(--menu-text-size);
	padding-top: calc(var(--menu-text-size) * 1.5);
	background: #e3e3e3;
	box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.34);
}

menu#main-menu.hidden {
	display: none;
}

menu#main-menu > #close-menu-btn {
	position: absolute;
	top: calc(var(--menu-text-size) / 4);
	right: calc(var(--menu-text-size) / 4);
	width: var(--menu-text-size);
	height: var(--menu-text-size);
	font-weight: bold;
	font-size: calc(var(--menu-text-size) * 0.85);
	line-height: var(--menu-text-size);
	padding: 0 calc(var(--menu-text-size) * 0.05);
	border-radius: calc(var(--menu-text-size) * 0.3);
	border: thin solid #999;
	cursor: pointer;
}

menu#main-menu > li {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	font-weight: bold;
	font-size: var(--menu-text-size);
}

menu#main-menu > li button {
	font-weight: bold;
	font-size: var(--menu-text-size);
}

#play-area {
	--played-words-count: 2;
	--max-letter-count: 5;

	/* N = play-width */
	/* M = max-letter-count */
	/* x = (N - (M-1)x / 2 - 1.5x - 0.25x) / M */
	/* x = N / (1.5M + 1.25) */
	--letter-size: calc(
		var(--play-width) / ((var(--max-letter-count) * 1.5) + 1.25)
	);
	--letter-spacing: calc(var(--letter-size) / 2);
	--word-size: calc(
		(var(--letter-size) * var(--max-letter-count)) +
		(var(--letter-spacing) * (var(--max-letter-count) - 1))
	);

	--play-action-gutter-size: calc(var(--letter-size) * 1.5);
	--play-action-btn-size: calc(var(--play-action-gutter-size) * 0.4);
	--play-action-btn-spacing: calc(var(--play-action-gutter-size) * 0.1);

	--letter-insert-btn-size: calc(var(--letter-spacing) * 1.6);
	--letter-remove-btn-size: calc(var(--letter-spacing) * 1.6);

	grid-area: play-area;
	align-self: end;
	position: relative;
	min-height: calc(var(--letter-size) * 2);
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	overflow-y: overlay;
}

#played-words, #next-play {
	position: relative;
	display: grid;
	grid-template-columns: var(--word-size) var(--play-action-gutter-size);
	grid-template-rows: min-content;
	gap: var(--letter-spacing) calc(var(--letter-spacing) / 2);
	width: var(--play-width);
	margin: 0 auto;
}

#played-words {
	margin-top: calc(var(--letter-spacing) / 2);
	padding-bottom: calc(var(--letter-spacing) / 2);
	border-bottom: thin solid #999;
}

#played-words.complete {
	margin-bottom: var(--letter-insert-btn-size);
	padding-bottom: 0;
	border-bottom: thin solid rgba(0,0,0,0);
}

#played-words.complete > .word:last-child {
	padding-bottom: calc(var(--letter-spacing) / 2);
	border-top: thin solid rgba(0,0,0,0);
	border-bottom: thin solid rgba(0,0,0,0);
}

#played-words > div:nth-child(2) {
	grid-row-start: 1;
	grid-row-end: span var(--played-words-count);
	grid-column-start: 2;
}

#next-play {
	padding-top: calc(var(--letter-spacing) / 2);
	margin-bottom: var(--letter-insert-btn-size);
}

#next-play.hidden {
	display: none;
}

.word {
	grid-column-start: 1;

	position: relative;
	display: inline-flex;
	justify-content: flex-start;
	width: var(--word-size);
	height: var(--letter-size);
}

.word > .letter {
	position: relative;
	width: var(--letter-size);
	height: var(--letter-size);
	margin-right: var(--letter-spacing);
}

.word > .letter:last-child {
	margin: 0;
}

.word > .letter > input[type=radio] {
	position: absolute;
	visibility: hidden;
	font-size: 0.001px;
	width: 0.001px;
	height: 0.001px;
	opacity: 0;
	left: -2000px;
}

.word > .letter > input[type=radio] + label {
	cursor: pointer;
}

.word > .letter > input[type=radio] + label,
.word > .letter > span {
	display: block;
	width: var(--letter-size);
	height: var(--letter-size);
	padding: 0;
	line-height: calc(var(--letter-size) * 0.9);
	font-size: calc(var(--letter-size) * 0.75);
	font-weight: bold;
	text-align: center;
	border: thin #999 solid;
	border-radius: calc(var(--horz-unit) * 0.75);
}

.word > .letter > input[type=radio]:checked + label {
	background-color: orange;
}

.word > .letter > .remove-letter-btn {
	display: none;
	position: absolute;
	z-index: 20;
	bottom: 0;
	right: 0;
	transform: translate(50%,75%);
	width: var(--letter-remove-btn-size);
	height: var(--letter-remove-btn-size);
	font-size: calc(var(--letter-remove-btn-size) * 0.75);
	line-height: var(--letter-remove-btn-size);
	border: thin #999 solid;
	border-radius: 50%;
	cursor: pointer;
}

.word > .letter > input[type=radio]:checked + label + .remove-letter-btn {
	display: block;
}

.word > .letter > .insert-here-btn {
	display: block;
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: calc(0px - (var(--letter-spacing) / 2));
	transform: translate(-50%,75%);
	width: var(--letter-insert-btn-size);
	height: var(--letter-insert-btn-size);
	font-size: calc(var(--letter-insert-btn-size) * 0.75);
	font-weight: bold;
	line-height: var(--letter-insert-btn-size);
	border: thin #999 solid;
	border-radius: 50%;
	cursor: pointer;
}

.word > .letter:first-child > .insert-here-btn {
	left: 0;
	transform: translate(-60%,75%);
}

.word > .letter:last-child > .insert-here-btn.insert-at-end {
	left: auto;
	right: 0;
	transform: translate(60%,75%);
}

.word > .letter > button:disabled {
	display: none !important;
}

#play-action-buttons {
	position: absolute;
	right: 0;
	top: calc(var(--letter-size) / 2);
	transform: translateY(-50%);
	display: inline-flex;
	justify-content: flex-end;
	gap: var(--play-action-btn-spacing);
	flex-wrap: wrap;
	width: var(--play-action-gutter-size);
	height: min-content;
	margin-bottom: var(--letter-spacing);
}

#play-action-buttons > button {
	display: block;
	padding: 0 calc(var(--play-action-btn-size) * 0.2);
	flex-basis: auto;
	width: var(--play-action-btn-size);
	height: var(--play-action-btn-size);
	font-weight: bold;
	font-size: calc(var(--play-action-btn-size) * 0.65);
	line-height: var(--play-action-btn-size);
	border: thin #999 solid;
	border-radius: var(--horz-unit);
	cursor: pointer;
}

#play-action-buttons > button:disabled {
	display: none;
}

#keyboard {
	--key-width: calc(var(--play-width) / 11.8);
	--key-height: calc(var(--key-width) * 1.8);
	--key-spacing: calc(var(--key-width) / 5);
	--bottom-margin: calc(var(--key-spacing) * 5);

	grid-area: keyboard;

	position: relative;
	width: var(--play-width);
	height: calc((var(--key-height) * 3) + (var(--key-spacing) * 2));
	margin: 0 auto var(--bottom-margin) auto;
}

#keyboard > form {
	position: relative;
	display: inline-flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	gap: var(--key-spacing);
	flex-wrap: wrap;
}

#keyboard > form > button {
	flex-basis: auto;
	width: var(--key-width);
	height: var(--key-height);
	border: thin solid #999;
	border-radius: calc(var(--key-width) / 5);
	font-size: calc(var(--key-width) * 0.8);
	line-height: var(--key-height);
	padding: 0;
	cursor: pointer;
}

#keyboard > form > button:nth-child(11) {
	margin-left: calc(var(--key-width) * 0.6);
}

#keyboard > form > button:nth-child(19) {
	margin-right: calc(var(--key-width) * 0.6);
}

#next-play > form,
#keyboard > form {
	margin: 0;
	padding: 0;
}
